# PCA MODEL

# LOADING DATA

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [5]:
initData = pd.read_csv("publisher_analysis_data.csv")
initData = initData.drop(columns = ['youngsMod','Unnamed: 0', 'sec_calcMass', 'sec_massRec', 'publisher'])
initData.head()

,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,ph,sec_Mn,sec_Mw,sec_polyDisp,year
0,34.670,28.7790,0.051118,0.072340,5.065,44.1,127.6,2.890,1840-01-01
1,12.710,9.7289,0.030050,0.023396,4.830,35.9,85.4,2.377,1840-01-01
2,17.301,13.5850,0.034793,0.034683,5.207,20.1,93.4,4.653,1842-01-01
3,25.879,21.3200,0.044734,0.057662,5.165,29.5,91.2,3.094,1843-01-01
4,14.901,16.1320,0.047622,0.036076,6.405,76.8,161.6,2.105,1844-01-01

In [11]:
initData.year.apply(lambda x: x.split()[]

TypeError: 'getset_descriptor' object is not callable

In [6]:
initData = initData.dropna()
initData.shape

(957, 9)