In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("ANC_PCA_colorassessment_data.csv")

In [23]:
df.head(10)

,Name:,discrete color rank.xlsx,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Author:,Created by XLSREADR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date:,17-Aug-2020 15:46:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Modification Date:,21-Aug-2020 10:36:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,ID,age category,L rank,b rank,color change,Include,catalogId,age category,L rank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,catalogId,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,sec_Mn,sec_Mw,sec_polydispersity,tens_energyAbsorp_avg,tens_maxLoad_avg,tens_strainMaxLoad_avg,tens_stressMaxLoad_avg,tens_thickness_avg,tens_youngsMod_avg,NaN
8,Include,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,NaN
9,NaN,10000,180-150,bright,yellow,stable,1,Class 10000,180-150,bright,...,44.1,127.6,2.89,0.068927,28.15941883,0.0466165,23.10210617,0.11895,1960.082957,NaN

In [24]:
df.columns

Index(['Name:', 'discrete color rank.xlsx', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [25]:
df = df.iloc[6:]
df.head(3)

,Name:,discrete color rank.xlsx,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
6,NaN,ID,age category,L rank,b rank,color change,Include,catalogId,age category,L rank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,catalogId,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,sec_Mn,sec_Mw,sec_polydispersity,tens_energyAbsorp_avg,tens_maxLoad_avg,tens_strainMaxLoad_avg,tens_stressMaxLoad_avg,tens_thickness_avg,tens_youngsMod_avg,NaN
8,Include,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,NaN

In [ ]:
df.loc

In [26]:
df2 = df.iloc[3:]
df2 = df2.drop(df.iloc[:, 0:16], axis = 1)
df2 = df2.drop(["Unnamed: 27"], axis=1)
df2

,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
9,10,5.065,44.1,127.6,2.89,0.068927,28.15941883,0.0466165,23.10210617,0.11895,1960.082957
10,10,4.83,35.9,85.4,2.377,0.02022,11.903608,0.026067,9.019922,0.1322,1248.737847
11,10,5.206666667,20.1,93.4,4.653,0.031948667,15.5551335,0.032684667,12.2333775,0.126433333,1815.875375
12,10,5.165,29.5,91.2,3.094,0.052825,22.858836,0.040784,18.063687,0.1216,1908.392582
13,10,6.405,76.8,161.6,2.105,0.034338,11.970791,0.041122,12.906413,0.0929,1350.469421
...,...,...,...,...,...,...,...,...,...,...,...
486,2,4.42,25.4,72.1,2.841,0.03121,18.127512,0.026149,14.01709,0.1264,2506.068429
487,10,4.985,51.9,132.6,2.554,0.067021,26.785784,0.043822,30.763636,0.087,3356.609244
488,3,4.73,36.5,118.5,3.248,0.054794,26.328801,0.0381,30.596279,0.0863,3710.031812
489,10,4.965,41.1,162.4,3.949,0.084256,33.717357,0.046817,33.744537,0.0998,3079.73751
490,2,4.68,26.6,69.8,2.63,0.065222,31.527485,0.039115,30.258636,0.1038,3106.143573

In [30]:
df2.rename(columns=
{
'Unnamed: 16':'doubleFold',
'Unnamed: 17':'pH',
'Unnamed: 18':'sec_Mn', 
'Unnamed: 19':'sec_Mw', 
'Unnamed: 20':'sec_polydispersity', 
'Unnamed: 21':'tens_energyAbsorp_avg',
'Unnamed: 22':'tens_maxLoad_avg',
'Unnamed: 23':'tens_strainMaxLoad_avg',
'Unnamed: 24':'tens_stressMaxLoad_avg',
'Unnamed: 25':'tens_thickness_avg',
'Unnamed: 26':'tens_youngsMod_avg'
}, inplace=True)
df2

,doubleFold,pH,sec_Mn,sec_Mw,sec_polydispersity,tens_energyAbsorp_avg,tens_maxLoad_avg,tens_strainMaxLoad_avg,tens_stressMaxLoad_avg,tens_thickness_avg,tens_youngsMod_avg
9,10,5.065,44.1,127.6,2.89,0.068927,28.15941883,0.0466165,23.10210617,0.11895,1960.082957
10,10,4.83,35.9,85.4,2.377,0.02022,11.903608,0.026067,9.019922,0.1322,1248.737847
11,10,5.206666667,20.1,93.4,4.653,0.031948667,15.5551335,0.032684667,12.2333775,0.126433333,1815.875375
12,10,5.165,29.5,91.2,3.094,0.052825,22.858836,0.040784,18.063687,0.1216,1908.392582
13,10,6.405,76.8,161.6,2.105,0.034338,11.970791,0.041122,12.906413,0.0929,1350.469421
...,...,...,...,...,...,...,...,...,...,...,...
486,2,4.42,25.4,72.1,2.841,0.03121,18.127512,0.026149,14.01709,0.1264,2506.068429
487,10,4.985,51.9,132.6,2.554,0.067021,26.785784,0.043822,30.763636,0.087,3356.609244
488,3,4.73,36.5,118.5,3.248,0.054794,26.328801,0.0381,30.596279,0.0863,3710.031812
489,10,4.965,41.1,162.4,3.949,0.084256,33.717357,0.046817,33.744537,0.0998,3079.73751
490,2,4.68,26.6,69.8,2.63,0.065222,31.527485,0.039115,30.258636,0.1038,3106.143573

In [34]:
df2.describe()

,doubleFold,pH,sec_Mn,sec_Mw,sec_polydispersity,tens_energyAbsorp_avg,tens_maxLoad_avg,tens_strainMaxLoad_avg,tens_stressMaxLoad_avg,tens_thickness_avg,tens_youngsMod_avg
count,482,482,482,482,482,482,482,482,482,482,482
unique,10,220,291,382,432,480,482,479,482,373,482
top,10,4.68,26.6,82.4,1.877,0.053974,13.216193,0.036786,15.164233,0.1087,2636.474005
freq,259,10,6,4,4,3,1,2,1,5,1

In [37]:
df2.dropna(inplace=True)

In [38]:
sns.heatmap(df2.corr())

ValueError: zero-size array to reduction operation fmin which has no identity

In [29]:
df2.corr()

Empty DataFrame
Columns: []
Index: []

In [32]:
from sklearn.preprocessing import scale
scale(df2)

<_csv.reader object at 0x1245db4d0>
<Response [200]>

AttributeError: module 'pytest' has no attribute 'mark'