In [1]:
#%%time
#!pip install couchdb
#!pip install pandas
#!pip install matplotlib
#!pip install seaborn

Wall time: 0 ns

In [22]:
%%time
import couchdb

# flatten json
import json 
import pandas as pd 
from pandas.io.json import json_normalize

# may be used
import time
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

Wall time: 0 ns

In [3]:
%%time
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]

Wall time: 16.5 ms

In [4]:
%%time
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']

Wall time: 240 ms

In [5]:
%%time
# https://stackoverflow.com/questions/46996356/how-to-query-the-documents-from-couchdb-and-load-them-into-pandas-dataframe
rows = db.view('_all_docs', include_docs=True) # ,limit=10
data = [row['doc'] for row in rows]
df = pd.DataFrame(data)

Wall time: 6min 38s

In [6]:
df.head()

,_id,_rev,access,validate_doc_update,views,language,objectId,isInSitu,sampleId,barcode,...,acquiredOn,acquiredOnIsApprox,agingTemperature,agingNatural,username,inSitu,pageSampled,sampledOn,sampledByPersonId,sampedByPersonId
0,_design/anc,10-3acd4d4645f00d9a055130aa31fb8839,{'read_only': True},"function(newDoc, oldDoc, userCtx) { if (userCt...",{'catalog-titles-and-dates-only': {'map': 'fun...,javascript,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_design/pca,15-d5a9f312d7b438160643237a193a880d,NaN,NaN,{'query-books': {'map': 'function (doc) { if...,javascript,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,_design/temp,10-2d996381162ed59cb1a4f524819d4371,NaN,NaN,{'ph_tensile': {'map': 'function (doc) { if ...,javascript,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,analysis:0000000000,49-cedb344b53eb03cb3fc98e6cf7c17fd3,NaN,NaN,NaN,NaN,book:00112,True,sample:0000010608,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,analysis:0000000001,34-abd09afe1220c9836830f2c23f8d4949,NaN,NaN,NaN,NaN,book:00112,True,sample:0000010609,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Starting to separate data out by id first
analysis = df[df['_id'].str.contains("analysis")].reset_index()
book = df[df['_id'].str.contains("book")].reset_index()
sample = df[df['_id'].str.contains("sample")].reset_index()
institution = df[df['_id'].str.contains("institution")].reset_index()
person = df[df['_id'].str.contains("person")].reset_index()
paper = df[df['_id'].str.contains("paper")].reset_index()
catalog = df[df['_id'].str.contains("catalog")].reset_index()

In [8]:
import warnings
warnings.filterwarnings("ignore")
# General procedure:
# drop nan columns
# replace remove string part in _id

In [23]:
paper1 = paper.dropna(axis=1, how='all').drop('index', axis=1)
paper1['_id'] = paper1['_id'].str.replace('paper:','') #WARNING line
#paper1.head()

In [77]:
analysis1 = analysis.dropna(axis=1, how='all').drop('index', axis=1)
analysis1['_id'] = analysis1['_id'].str.replace('analysis:','')
analysis1.describe()
# data column is a list(dict(['type'-->dv1, 'src'-->dict(header, createdon, filename), 'spectrum'-->dict(values,labels)]))
# analysis_data = analysis1[['_id','data']]
# analysis_data['data_len']= 1
# analysis_data['data']

,_id,_rev,objectId,isInSitu,sampleId,barcode,type,procedure,analysedOn,analysedByPersonId,lastModifiedOn,lastModifiedByPersonId,notes,data,deltaE,location,stats
count,7884,7884,7884,7884,7884,7884,7884,7884,7884,7884,7884,7884,7884,7884,3085,3,1696
unique,7884,7884,784,2,5988,849,7,1,3783,3,41,2,253,7860,3052,3,1594
top,0000003292,4-e1778a4cff35d3e815c105b3e01d225e,book:10004,True,sample:0000010254,,fors,SOP,2019-10-01T04:00:00.000Z,Forsberg_A,2020-02-17T05:00:00.000Z,Forsberg_A,,"[{'type': 'spot', 'src': {'createdOn': '2020-0...",[],inset,{'ph': {'value': {'avg': '4.570000000000000000...
freq,1,1,60,5140,5,5140,3085,7884,155,5217,965,5229,6402,6,34,1,4

In [17]:
# Setup

# installs and imports
#!pip install couchdb
#!pip install pandas
import couchdb
import time
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Read Access Credentials
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]

# Connect to Server
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']

# Extract data (will take 5-10 minutes, recommend putting these lines in a separate cell)
rows = db.view('_all_docs', include_docs=True) # ,limit=10
data = [row['doc'] for row in rows]
df = pd.DataFrame(data)

# Separate out data types
analysis = df[df['_id'].str.contains("analysis")].reset_index()
book = df[df['_id'].str.contains("book")].reset_index()
sample = df[df['_id'].str.contains("sample")].reset_index()
institution = df[df['_id'].str.contains("institution")].reset_index()
person = df[df['_id'].str.contains("person")].reset_index()
paper = df[df['_id'].str.contains("paper")].reset_index()
catalog = df[df['_id'].str.contains("catalog")].reset_index()

In [ ]:
# Data: Sample

def checkSitu(x,key):
    try:
        return x[key]
    except:
        return np.NaN
    
# Initial Setup
sample1 = sample.dropna(axis=1, how='all').drop('index', axis=1)
sample1['_id'] = analysis1['_id'].str.replace('sample:','')

# Relabel columns
sample1.rename(columns={"_id": "sample_id"}, inplace=True)
sample1['objectId'] = analysis1['objectId'].str.replace('book:','')
sample1.rename(columns={"objectId": "book_id"}, inplace=True)

#Separate out columns
sample2 = sample1[['sample_id','book_id', 'barcode', 'procedure', 'notes', 'inSitu', 'pageSampled']]

# Extract inSitu information
sample2['status']=sample2['inSitu'].apply(lambda x: checkSitu(x,'isInSitu'))
sample2['type']=sample2['inSitu'].apply(lambda x: checkSitu(x,'type'))
sample2['location']=sample2['inSitu'].apply(lambda x: checkSitu(x,'location'))
sample2['set']=sample2['inSitu'].apply(lambda x: checkSitu(x,'set'))

#sample2

In [87]:
# Data: Book

%%time
# https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas

book1 = book.dropna(axis=1, how='all').drop('index', axis=1)

# rename columns
book1.rename(columns={"_id": "book_id","institutionId":"institution_id","catalogId":"catalog_id"}, inplace=True)

# clean id column content
book1['book_id'] = book1['book_id'].str.replace('book:','') #WARNING line
book1['institution_id'] = book1['institution_id'].str.replace('institution:','')
book1['catalog_id'] = book1['catalog_id'].str.replace('catalog:','')

# separate out columns
book2 = book1[['book_id','catalog_id', 'institution_id', 'catalog', 'description', 'batch', 'doubleFold', 'condition']]

# flatten and concatenate
book2['doubleFold'] = book2['doubleFold'].apply(lambda x:x['value'])
catalog_frame = pd.concat(book2['catalog'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
description_frame = pd.concat(book2['description'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
condition_frame = pd.concat(book2['condition'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)


book3 = pd.concat([book2, catalog_frame, description_frame, condition_frame], axis=1)

Wall time: 11.9 s