In [1]:
import time

In [2]:
%%time
# Setup
# installs and imports
#!pip install couchdb
#!pip install pandas
import couchdb
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore") # for replace remove string part in _id

# flatten json
import json 
import pandas as pd 
from pandas.io.json import json_normalize

# Read Access Credentials
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]

# Connect to Server
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']

CPU times: user 1.83 s, sys: 664 ms, total: 2.5 s
Wall time: 10.8 s

## Analyses

In [3]:
%%time
# Extract data USE LIMITS UNTIL IT WORKS DO NOT INCLUDE DOCS
#rows = db.view('umsi/clone_pca_analyses', limit=10)
rows = db.view('pca/query-analyses') # _id column is same as analysis id
data = [row['value'] for row in rows]
analyses = pd.DataFrame(data)

CPU times: user 7.03 s, sys: 2.21 s, total: 9.24 s
Wall time: 1min 16s

In [4]:
print('sampleId:', len(analyses.sampleId.unique()))
print('analyses:', len(analyses))
print('objectId:', len(analyses.objectId.unique()))

sampleId: 4760
analyses: 6673
objectId: 951

In [5]:
# Replace [] and {} with NaN
analyses.deltaE = analyses.deltaE.apply(lambda y: np.nan if y==[] else y)
analyses.col = analyses.col.apply(lambda y: np.nan if y=={} else y)
analyses.fors = analyses.fors.apply(lambda y: np.nan if y==[] else y)
analyses.ftir = analyses.ftir.apply(lambda y: np.nan if y==[] else y)
analyses.tensile = analyses.tensile.apply(lambda y: np.nan if y=={} else y)
analyses.head()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors,ftir,tensile,ph,sec
0,sample:0000010826,book:10000,sample:0000010826,analysis:0000000218,fors,1.081,"{'loc': 'edge', 'col_x': '0.3461', 'col_y': '0...","[[350, 0.36153397], [351, 0.35920829], [352, 0...",NaN,NaN,NaN,NaN
1,sample:0000010827,book:10000,sample:0000010827,analysis:0000000219,fors,0.8747,"{'loc': 'inset', 'col_x': '0.3431', 'col_y': '...",NaN,NaN,NaN,NaN,NaN
2,sample:0000010828,book:10000,sample:0000010828,analysis:0000000220,fors,1.081,"{'loc': 'gutter', 'col_x': '0.3424', 'col_y': ...",NaN,NaN,NaN,NaN,NaN
3,sample:0000010619,book:10000,sample:0000010619,analysis:0000000011,ftir,NaN,NaN,NaN,"[[7996.20107, 1.20203], [7994.13966, 1.20910],...",NaN,NaN,NaN
4,sample:0000010218,book:10000,sample:0000010218,analysis:0000000543,ph,NaN,NaN,NaN,NaN,NaN,5.065,NaN

In [6]:
# Separate out data
fors_data = analyses[analyses['type']=='fors'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ftir_data = analyses[analyses['type']=='ftir'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
tensile_data = analyses[analyses['type']=='tensile'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ph_data = analyses[analyses['type']=='ph'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
sec_data = analyses[analyses['type']=='sec'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)

### FORS

In [7]:
fors_data.head()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors
0,sample:0000010826,book:10000,sample:0000010826,analysis:0000000218,fors,1.081,"{'loc': 'edge', 'col_x': '0.3461', 'col_y': '0...","[[350, 0.36153397], [351, 0.35920829], [352, 0..."
1,sample:0000010827,book:10000,sample:0000010827,analysis:0000000219,fors,0.8747,"{'loc': 'inset', 'col_x': '0.3431', 'col_y': '...",NaN
2,sample:0000010828,book:10000,sample:0000010828,analysis:0000000220,fors,1.081,"{'loc': 'gutter', 'col_x': '0.3424', 'col_y': ...",NaN
3,sample:0000010829,book:10001,sample:0000010829,analysis:0000000221,fors,2.651,"{'loc': 'edge', 'col_x': '0.3589', 'col_y': '0...","[[350, 0.27629215], [351, 0.27274981], [352, 0..."
4,sample:0000010830,book:10001,sample:0000010830,analysis:0000000222,fors,2.651,"{'loc': 'inset', 'col_x': '0.3496', 'col_y': '...",NaN

### FTIR

In [8]:
ftir_data.head()

,_id,objectId,sampleId,analysisId,type,ftir
0,sample:0000010619,book:10000,sample:0000010619,analysis:0000000011,ftir,"[[7996.20107, 1.20203], [7994.13966, 1.20910],..."
1,sample:0000010621,book:10001,sample:0000010621,analysis:0000000013,ftir,"[[7996.20107, 1.11394], [7994.13966, 1.13033],..."
2,sample:0000010623,book:10002,sample:0000010623,analysis:0000000015,ftir,"[[7996.20107, 1.13047], [7994.13966, 1.15014],..."
3,sample:0000010625,book:10003,sample:0000010625,analysis:0000000017,ftir,"[[7996.20107, 1.17351], [7994.13966, 1.16132],..."
4,sample:0000010627,book:10004,sample:0000010627,analysis:0000000019,ftir,"[[7996.20107, 1.22136], [7994.13966, 1.24046],..."

### TENSILE

In [9]:
tensile_frame = pd.concat(tensile_data['tensile'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
tensile=pd.concat([tensile_data, tensile_frame], axis=1)
tensile.head()

,_id,objectId,sampleId,analysisId,type,tensile,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000690,tensile,"{'maxLoad': '34.670', 'stressMaxLoad': '28.779...",34.670,28.779,0.051118,0.072340,2274.6
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000691,tensile,"{'maxLoad': '12.710', 'stressMaxLoad': '9.7289...",12.710,9.7289,0.030050,0.023396,1416.2
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000692,tensile,"{'maxLoad': '17.301', 'stressMaxLoad': '13.585...",17.301,13.585,0.034793,0.034683,2083.7
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000693,tensile,"{'maxLoad': '25.879', 'stressMaxLoad': '21.320...",25.879,21.320,0.044734,0.057662,2015.6
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000694,tensile,"{'maxLoad': '14.901', 'stressMaxLoad': '16.132...",14.901,16.132,0.047622,0.036076,1798.6

### PH

In [10]:
ph_data.head()

,_id,objectId,sampleId,analysisId,type,ph
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000543,ph,5.065
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000544,ph,4.830
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000545,ph,5.207
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000546,ph,5.165
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000547,ph,6.405

In [11]:
ph_data.astype({'ph': 'float'}).describe()

               ph
count  956.000000
mean     4.963069
std      0.780218
min      3.630000
25%      4.575000
50%      4.740000
75%      5.030000
max      9.370000

### SEC

In [12]:
sec_frame = pd.concat(sec_data['sec'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
sec=pd.concat([sec_data, sec_frame], axis=1)
sec.head()

,_id,objectId,sampleId,analysisId,type,sec,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000619,sec,"{'sec_Mn': '44.1', 'sec_Mw': '127.6', 'sec_pol...",44.1,127.6,2.89,22.45,71.9
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000620,sec,"{'sec_Mn': '35.9', 'sec_Mw': '85.4', 'sec_poly...",35.9,85.4,2.377,10.53,23.4
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000621,sec,"{'sec_Mn': '20.1', 'sec_Mw': '93.4', 'sec_poly...",20.1,93.4,4.653,20.54,65.8
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000622,sec,"{'sec_Mn': '29.5', 'sec_Mw': '91.2', 'sec_poly...",29.5,91.2,3.094,6.84,21.9
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000623,sec,"{'sec_Mn': '76.8', 'sec_Mw': '161.6', 'sec_pol...",76.8,161.6,2.105,7.92,25.4

## Book

In [13]:
%%time
# Extract data USE LIMITS UNTIL IT WORKS DO NOT INCLUDE DOCS
#rows = db.view('umsi/clone_pca_analyses', limit=10)
rows = db.view('pca/query-books') # _id column is same as analysis id
data = [row['value'] for row in rows]
books = pd.DataFrame(data)

CPU times: user 24.6 ms, sys: 3.78 ms, total: 28.4 ms
Wall time: 254 ms

In [14]:
books#['doubleFold'].unique()
books.doubleFold = books.doubleFold.apply(lambda y: np.nan if y=='' else y)
books=books.astype({'doubleFold': 'float'})

In [15]:
books.doubleFold.describe()

count    1012.000000
mean        7.118577
std         3.459783
min         1.000000
25%         3.000000
50%        10.000000
75%        10.000000
max        10.000000
Name: doubleFold, dtype: float64

In [16]:
books.publisher = books.publisher.apply(lambda y: np.nan if y=='' else y)
books=books.astype({'publisher': 'str'})
books.publisher

0                        sumptibus Societatis Camdenensis
1       Printed for the Camden Society, by J.B. Nichol...
2       Printed for the Camden Society, by J.B. Nichol...
3       Printed for the Camden Society, by J.B. Nichol...
4                                           J. Winchester
                              ...
1130                                     University Press
1131                                      Cokesbury Press
1132                                The Macmillan Company
1133                                   G.P. Putnam's Sons
1134                            Harcourt, Brace & Company
Name: publisher, Length: 1135, dtype: object

In [17]:
books.head()

,id,title,catalogId,institutionId,volume,year,location,publisher,doubleFold,calendered
0,book:10000,"Chronica Jocelini de Brakelond, de rebus gesti...",catalog:10000,institution:00002,1,1840,Londini,sumptibus Societatis Camdenensis,10.0,False
1,book:10001,"The chronicle of William de Rishanger, of the ...",catalog:10001,institution:00002,1,1840,London,"Printed for the Camden Society, by J.B. Nichol...",10.0,False
2,book:10002,Three early English metrical romances : with a...,catalog:10002,institution:00002,1,1842,London,"Printed for the Camden Society, by J.B. Nichol...",10.0,False
3,book:10003,"The diary of Dr. Thomas Cartwright, bishop of ...",catalog:10003,institution:00002,1,1843,London,"Printed for the Camden Society, by J.B. Nichol...",10.0,False
4,book:10004,Mexico as it was and as it is,catalog:10004,institution:00002,1,1844,New York,J. Winchester,10.0,False

## Combine Data Frames

### 1. Clean

#### TENSILE

In [18]:
#drop columns that we don't need
tensile_cleaned = tensile.drop(columns =['_id', 'analysisId', 'type', 'tensile'])

#rename id columns
tensile_cleaned.rename(columns ={'objectId':'book_id', 'sampleId':'sample_id'}, inplace = True)

#change book id into string
tensile_cleaned['book_id'] = tensile_cleaned['book_id'].astype(str)

tensile_cleaned.head()

,book_id,sample_id,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod
0,book:10000,sample:0000010218,34.670,28.779,0.051118,0.072340,2274.6
1,book:10001,sample:0000010219,12.710,9.7289,0.030050,0.023396,1416.2
2,book:10002,sample:0000010220,17.301,13.585,0.034793,0.034683,2083.7
3,book:10003,sample:0000010221,25.879,21.320,0.044734,0.057662,2015.6
4,book:10004,sample:0000010222,14.901,16.132,0.047622,0.036076,1798.6

#### PH

In [19]:
ph_data_cleaned = ph_data.drop(columns =['_id', 'objectId', 'analysisId', 'type'])
ph_data_cleaned.rename(columns ={'sampleId':'sample_id'}, inplace = True)
ph_data_cleaned.head()

           sample_id     ph
0  sample:0000010218  5.065
1  sample:0000010219  4.830
2  sample:0000010220  5.207
3  sample:0000010221  5.165
4  sample:0000010222  6.405

#### SEC

In [20]:
sec_cleaned = sec.drop(columns =['_id', 'objectId','analysisId', 'sec', 'type'])
sec_cleaned.rename(columns ={'sampleId':'sample_id'}, inplace = True)
sec_cleaned.head()

           sample_id sec_Mn sec_Mw sec_polyDisp sec_calcMass sec_massRec
0  sample:0000010218   44.1  127.6         2.89        22.45        71.9
1  sample:0000010219   35.9   85.4        2.377        10.53        23.4
2  sample:0000010220   20.1   93.4        4.653        20.54        65.8
3  sample:0000010221   29.5   91.2        3.094         6.84        21.9
4  sample:0000010222   76.8  161.6        2.105         7.92        25.4

#### DOUBLEFOLD

In [21]:
#NOT IMPORTANT
# doublefold_cleaned = books[['id', 'doubleFold']]
# doublefold_cleaned.rename(columns={'id':'book_id'}, inplace=True)
# doublefold_cleaned['book_id'] = doublefold_cleaned['book_id'].astype(str)
# doublefold_cleaned.head()

#### PUBLISHER

In [33]:
publisher_cleaned = books[['id', 'publisher']]
publisher_cleaned.rename(columns={'id':'book_id'}, inplace=True)
publisher_cleaned['book_id'] = publisher_cleaned['book_id'].astype(str)
publisher_cleaned.head()

      book_id                                          publisher
0  book:10000                   sumptibus Societatis Camdenensis
1  book:10001  Printed for the Camden Society, by J.B. Nichol...
2  book:10002  Printed for the Camden Society, by J.B. Nichol...
3  book:10003  Printed for the Camden Society, by J.B. Nichol...
4  book:10004                                      J. Winchester

### 2. Combine

In [29]:
#combined analyses data frames
analyses_combined = tensile_cleaned.merge(ph_data_cleaned,on='sample_id').merge(sec_cleaned,on='sample_id')
analyses_combined.head()

,book_id,sample_id,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod,ph,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
0,book:10000,sample:0000010218,34.670,28.779,0.051118,0.072340,2274.6,5.065,44.1,127.6,2.89,22.45,71.9
1,book:10001,sample:0000010219,12.710,9.7289,0.030050,0.023396,1416.2,4.830,35.9,85.4,2.377,10.53,23.4
2,book:10002,sample:0000010220,17.301,13.585,0.034793,0.034683,2083.7,5.207,20.1,93.4,4.653,20.54,65.8
3,book:10003,sample:0000010221,25.879,21.320,0.044734,0.057662,2015.6,5.165,29.5,91.2,3.094,6.84,21.9
4,book:10004,sample:0000010222,14.901,16.132,0.047622,0.036076,1798.6,6.405,76.8,161.6,2.105,7.92,25.4

In [24]:
#merge the doublefold data to the analyses data
# all_combined = analyses_combined.merge(doublefold_cleaned, on='book_id', how='left')
# all_combined.head()

In [30]:
#drop id columns
numeric_data = analyses_combined.drop(columns=['book_id','sample_id'])

#turn all data into floats
numeric_data = numeric_data.astype(float)

numeric_data.head()

,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod,ph,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
0,34.670,28.7790,0.051118,0.072340,2274.6,5.065,44.1,127.6,2.890,22.45,71.9
1,12.710,9.7289,0.030050,0.023396,1416.2,4.830,35.9,85.4,2.377,10.53,23.4
2,17.301,13.5850,0.034793,0.034683,2083.7,5.207,20.1,93.4,4.653,20.54,65.8
3,25.879,21.3200,0.044734,0.057662,2015.6,5.165,29.5,91.2,3.094,6.84,21.9
4,14.901,16.1320,0.047622,0.036076,1798.6,6.405,76.8,161.6,2.105,7.92,25.4

In [26]:
#export data as csv --> '0225' represents the date, feb 25th. Change to current date if generating with new data
pca_csv_data = numeric_data.to_csv('numeric_data_for_pca_0225.csv', index = True)

#### Data for Publisher Analysis

In [35]:
# analyses_combined = analyses_combined.astype(float)
# analyses_combined['book_id'] = analyses_combined['book_id'].astype(str)

#combine analysis and publisher data
all_combined = analyses_combined.merge(publisher_cleaned, on='book_id', how='left')


#drop id columns
publisher_analysis_data = all_combined.drop(columns=['book_id','sample_id'])

publisher_analysis_data.head()

,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod,ph,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec,publisher
0,34.670,28.779,0.051118,0.072340,2274.6,5.065,44.1,127.6,2.89,22.45,71.9,sumptibus Societatis Camdenensis
1,12.710,9.7289,0.030050,0.023396,1416.2,4.830,35.9,85.4,2.377,10.53,23.4,"Printed for the Camden Society, by J.B. Nichol..."
2,17.301,13.585,0.034793,0.034683,2083.7,5.207,20.1,93.4,4.653,20.54,65.8,"Printed for the Camden Society, by J.B. Nichol..."
3,25.879,21.320,0.044734,0.057662,2015.6,5.165,29.5,91.2,3.094,6.84,21.9,"Printed for the Camden Society, by J.B. Nichol..."
4,14.901,16.132,0.047622,0.036076,1798.6,6.405,76.8,161.6,2.105,7.92,25.4,J. Winchester

In [38]:
cols = ['maxLoad','stressMaxLoad','strainMaxLoad','energyAbsorp','youngsMod','ph','sec_Mn','sec_Mw','sec_polyDisp','sec_calcMass','sec_massRec']
publisher_analysis_data[cols] = publisher_analysis_data[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [51]:
publisher_averages = publisher_analysis_data.groupby('publisher').mean()
publisher_averages.head()

,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod,ph,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
publisher,,,,,,,,,,,
"James B. Lyon, State Printer",27.72175,35.645875,0.042253,0.052060,3445.725,4.93375,27.325,83.55,3.034375,13.16,42.1875
"A. Lane, The Erudite Press",32.37900,13.553000,0.046672,0.063130,1290.500,5.00000,32.300,124.20,3.846000,20.09,64.4000
A. Rivers,45.81700,24.951000,0.040805,0.076727,2039.000,4.57250,32.150,89.80,2.893500,10.39,33.3000
"AMS PRESS, INC",76.11000,63.603000,0.111950,0.303180,2691.000,6.43000,67.900,823.50,12.122000,15.05,48.2000
Alfieri & Lacroix,13.50700,10.485000,0.010160,0.006686,NaN,3.63000,25.100,69.30,2.762000,6.76,21.7000

In [ ]:
# import pandas as pd
# from fuzzywuzzy import fuzz
# from fuzzywuzzy import process


# df1 = pd.read_excel('Top 10 richest.xlsx', sheet_name= "Sheet1")
# df2 = pd.read_excel('Top 10 richest.xlsx', sheet_name= "Sheet2")


# df1['name_from_df2'] = df1['Name'].apply(lambda x: process.extractOne(x, df2['Name'].to_list(),score_cutoff=80))
# name_from_df2_list = df1['name_from_df2'].to_list()
# name_from_df2_list = [_[0] if _ != None else None for _ in name_from_df2_list]
# df1['name_from_df2'] = name_from_df2_list

# df1 = df1.merge(df2, left_on = 'name_from_df2', right_on = 'Name', suffixes=('','_2'))
# df1.drop(['Name_2','name_from_df2'],axis=1, inplace=True)

import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process


df1 = pd.read_excel('Top 10 richest.xlsx', sheet_name= "Sheet1")
df2 = pd.read_excel('Top 10 richest.xlsx', sheet_name= "Sheet2")


df1['name_from_df2'] = df1['Name'].apply(lambda x: process.extractOne(x, df2['Name'].to_list(),score_cutoff=80))
name_from_df2_list = df1['name_from_df2'].to_list()
name_from_df2_list = [_[0] if _ != None else None for _ in name_from_df2_list]
df1['name_from_df2'] = name_from_df2_list

df1 = df1.merge(df2, left_on = 'name_from_df2', right_on = 'Name', suffixes=('','_2'))
df1.drop(['Name_2','name_from_df2'],axis=1, inplace=True)

In [48]:
publisher_averages = publisher_averages.T
publisher_averages.head()

publisher,"James B. Lyon, State Printer","A. Lane, The Erudite Press",A. Rivers,"AMS PRESS, INC",Alfieri & Lacroix,American Book Co.,American News Company,American Pub. Co.,American Publishing Company,American Tract Society,...,Vizetelly,W. Heinemann,W. Scott,Walter Scott,Williams and Norgate,"Wynkoop, Hallenbeck, Crawford Co.","[Houghton, Mifflin and Company]",in typographeo Clarendoniano,nan,sumptibus Societatis Camdenensis
maxLoad,27.721750,32.379000,45.817000,76.11000,13.507000,31.753000,27.138500,22.199125,24.317000,26.102667,...,37.747750,24.471333,34.663812,36.996833,27.301375,29.196667,27.115231,36.712000,41.674571,33.126000
stressMaxLoad,35.645875,13.553000,24.951000,63.60300,10.485000,34.481000,28.465750,14.473875,21.259500,26.676333,...,46.758250,13.124833,25.129500,26.394667,25.993500,38.908667,22.009385,42.567667,37.603857,28.643000
strainMaxLoad,0.042253,0.046672,0.040805,0.11195,0.010160,0.044247,0.044067,0.040227,0.032207,0.041571,...,0.054558,0.042828,0.043346,0.042089,0.036697,0.043817,0.038384,0.039801,0.052357,0.046896
energyAbsorp,0.052060,0.063130,0.076727,0.30318,0.006686,0.063877,0.059072,0.046426,0.042760,0.056585,...,0.080943,0.052748,0.065780,0.063800,0.047930,0.054039,0.054883,0.063448,0.102396,0.067423
youngsMod,3445.725000,1290.500000,2039.000000,2691.00000,NaN,3616.533333,2822.425000,1710.580000,2569.475000,2842.033333,...,3154.925000,1488.366667,2624.593750,2640.133333,3142.012500,4055.233333,2759.961538,3735.133333,2940.514286,2848.600000

In [50]:
print(publisher_averages.columns.tolist())

[' James B. Lyon, State Printer', 'A. Lane, The Erudite Press', 'A. Rivers', 'AMS PRESS, INC', 'Alfieri & Lacroix', 'American Book Co.', 'American News Company', 'American Pub. Co.', 'American Publishing Company', 'American Tract Society', 'B.B. Russell', 'Blair Pub. Co.', 'Bobbs-Merrill', 'Booklab, Inc.', 'C. Scribner & Co.', "C. Scribner's Sons", "C. Scribner's sons", 'C.L. Webster & Company', 'Century Co.', 'Chapman & Hall', 'Chapman and Hall', "Charles Scribner's Sons", 'Chatto & Windus', 'Clarendon Press', 'Clarendon press', 'Cornell University Library', 'D. Appleton', 'D. Appleton & Company', 'D. Appleton and Co.', 'D. Appleton and Company', 'D. Estes & company', 'D.C. Heath', 'D.C. Heath & Co.', 'Da Capo Press', 'David Nutt', 'Derby & Jackson', 'Dodd, Mead & Company', 'Dodd, Mead and Company', 'Doubleday, Page & Co.', 'Duffield & Co.', 'E.F. Kalmus Orchestra Scores, Inc', 'Estab. tip. de El Progreso', 'F. Vieweg', 'F.H. Revell', 'F.H. Revell Co.', 'Fields, Osgood', 'Forbes & Company', 'Funk & Wagnalls', "G. Munro's Sons", 'G. Reimer', 'G. Richards', 'G. Routledge', 'G.P. Putnam', "G.P. Putnam's Sons", 'Gauthier-Villars', 'Gauthier-Villars et fils', 'George A. Bates', 'George H. Doran Company', 'Ginn & Company', 'H. Holt and Co.', 'H. Long and Brother', 'H. Stevens & Son', 'H.G. Bohn', 'Hachette et cie', 'Harper', 'Harper & Bros.', 'Harper & Brothers', 'Harper & Brothers Publishers', 'Harper & Brothers publishers', 'Harper and Bros.', 'Harper and Brothers', 'Houghton Mifflin', 'Houghton Mifflin Co', 'Houghton Mifflin Company', 'Houghton, Mifflin and Co.', 'Houghton, Mifflin and Company', 'Houghton, Mifflin, and Co.', 'Impr. de A. Pérez Dubrull', 'Impr. de M. Tello', 'Impr. de la Rev. de archivos', 'J. Murray', 'J. Winchester', 'J.B. Lippincott & Co.', 'J.M. Dent & Co.', 'J.M. Dent & Sons', 'J.R. Osgood', 'J.R. Osgood and Co.', 'James R. Osgood and Company', 'James R. Osgood and Company, Late Ticknor & Fields, and Fields, Osgood & Co.', 'K. Paul, Trench, Trübner & Co., Ltd.', 'Kegan Paul, Trench & Co.', 'L. Kimball printing Company', 'L.C. Page and Company', 'Lawrence and Bullen', 'Little, Brown and Co.', 'Little, Brown, and Co.', 'Little, Brown, and Company', 'Longman, Green, Longman and Roberts', 'Longmans', 'Longmans, Green, and Co.', 'M. Tello', 'M. Witmark & Sons', 'Macmillan', 'Macmillan & Co.', 'Macmillan Co.', 'Macmillan and Co.', 'Macmillan and Co., limited', 'Marshall Jones Co.', 'N.D. Thompson Publishing Co.', 'Offices of the Egypt Exploration Fund', 'Oliver A. Quayle, State Legislative Printer', 'P.F. Collier', 'Phillips, Sampson and Co.', 'Phillips, Sampson and Company', 'Phillips, Sampson, and Company', 'Printed for the Camden Society', 'Printed for the Camden Society, by J.B. Nichols and Son', 'Printed for the Camden Society, by J.B. Nichols and Sons', 'Printed for the Navy Records Society', 'Pub. for the Early English Text Society by K. Paul, Trench, Trübner & Co.', 'Pub. for the Early English Text Society, by N. Trübner & Co.', 'R. Bentley & Son', 'R. Bentley, New Burlington Street', 'R. Bentley, New Burlington Street ', 'R.H. Woodward', 'R.R. Donnelley & Sons', 'R.S. Peale & Co.', 'Remington and Co.', 'Roberts', 'Roberts Brothers', 'Royal historical Society', 'Rudd & Carleton', 'S. Sonnenschein & Co.', 'S.C. Griggs and Company', 'Scribner', 'Small, Maynard & Co.', 'Smith, Elder, & Co.', 'State Printers', 'State journal Co., printers', 'State of New York', 'T. Nelson', 'T.B. Peterson', 'The Baker & Taylor Co', 'The Bobbs-Merrill Company', 'The Century Co.', 'The Henry Bill Publishing Company', 'The Johns Hopkins Press', 'The Macmillan Co.', 'The Macmillan Company', 'Ticknor and Fields', 'University Press', 'Vizetelly', 'W. Heinemann', 'W. Scott', 'Walter Scott', 'Williams and Norgate', 'Wynkoop, Hallenbeck, Crawford Co. ', '[Houghton, Mifflin and Company]', 'in typographeo Clarendoniano', 'nan', 'sumptibus Societatis Camdenensis']

### 3. Analyze

In [ ]:
numeric_data.describe()

In [ ]:
numeric_data.dropna(inplace=True)

In [ ]:
numeric_data.corr()

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(12,8))
sns.heatmap(numeric_data.corr(), annot=True)
# fix for mpl bug that cuts off top/bottom of seaborn viz
b, t = plt.ylim() # discover the values for bottom and top
b += 0.5 # Add 0.5 to the bottom
t -= 0.5 # Subtract 0.5 from the top
plt.ylim(b, t) # update the ylim(bottom, top) values
plt.show() # ta-da

In [ ]:
sns.pairplot(numeric_data)