In [1]:
import time

In [2]:
%%time
# Setup
# installs and imports
#!pip install couchdb
#!pip install pandas
import couchdb
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore") # for replace remove string part in _id

# flatten json
import json 
import pandas as pd 
from pandas.io.json import json_normalize

# Read Access Credentials
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]

# Connect to Server
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']

Wall time: 909 ms

## Analyses

In [3]:
%%time
# Extract data USE LIMITS UNTIL IT WORKS DO NOT INCLUDE DOCS
#rows = db.view('umsi/clone_pca_analyses', limit=10)
rows = db.view('pca/query-analyses') # _id column is same as analysis id
data = [row['value'] for row in rows]
analyses = pd.DataFrame(data)

Wall time: 15.4 s

In [4]:
print('sampleId:', len(analyses.sampleId.unique()))
print('analyses:', len(analyses))
print('objectId:', len(analyses.objectId.unique()))

sampleId: 4639
analyses: 6234
objectId: 951

In [5]:
# Replace [] and {} with NaN
analyses.deltaE = analyses.deltaE.apply(lambda y: np.nan if y==[] else y)
analyses.col = analyses.col.apply(lambda y: np.nan if y=={} else y)
analyses.fors = analyses.fors.apply(lambda y: np.nan if y==[] else y)
analyses.ftir = analyses.ftir.apply(lambda y: np.nan if y==[] else y)
analyses.tensile = analyses.tensile.apply(lambda y: np.nan if y=={} else y)
analyses.head()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors,ftir,tensile,ph,sec
0,sample:0000010826,book:10000,sample:0000010826,analysis:0000000218,fors,1.081,"{'loc': 'edge', 'col_x': '0.3461', 'col_y': '0...","[[350, 0.36153397], [351, 0.35920829], [352, 0...",NaN,NaN,NaN,NaN
1,sample:0000010827,book:10000,sample:0000010827,analysis:0000000219,fors,0.8747,"{'loc': 'inset', 'col_x': '0.3431', 'col_y': '...",NaN,NaN,NaN,NaN,NaN
2,sample:0000010828,book:10000,sample:0000010828,analysis:0000000220,fors,1.081,"{'loc': 'gutter', 'col_x': '0.3424', 'col_y': ...",NaN,NaN,NaN,NaN,NaN
3,sample:0000010619,book:10000,sample:0000010619,analysis:0000000011,ftir,NaN,NaN,NaN,"[[7996.20107, 1.20203], [7994.13966, 1.20910],...",NaN,NaN,NaN
4,sample:0000010218,book:10000,sample:0000010218,analysis:0000000543,ph,NaN,NaN,NaN,NaN,NaN,5.065,NaN

In [6]:
# Separate out data
fors_data = analyses[analyses['type']=='fors'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ftir_data = analyses[analyses['type']=='ftir'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
tensile_data = analyses[analyses['type']=='tensile'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ph_data = analyses[analyses['type']=='ph'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
sec_data = analyses[analyses['type']=='sec'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)

### FORS

In [7]:
fors_data.head()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors
0,sample:0000010826,book:10000,sample:0000010826,analysis:0000000218,fors,1.081,"{'loc': 'edge', 'col_x': '0.3461', 'col_y': '0...","[[350, 0.36153397], [351, 0.35920829], [352, 0..."
1,sample:0000010827,book:10000,sample:0000010827,analysis:0000000219,fors,0.8747,"{'loc': 'inset', 'col_x': '0.3431', 'col_y': '...",NaN
2,sample:0000010828,book:10000,sample:0000010828,analysis:0000000220,fors,1.081,"{'loc': 'gutter', 'col_x': '0.3424', 'col_y': ...",NaN
3,sample:0000010829,book:10001,sample:0000010829,analysis:0000000221,fors,2.651,"{'loc': 'edge', 'col_x': '0.3589', 'col_y': '0...","[[350, 0.27629215], [351, 0.27274981], [352, 0..."
4,sample:0000010830,book:10001,sample:0000010830,analysis:0000000222,fors,2.651,"{'loc': 'inset', 'col_x': '0.3496', 'col_y': '...",NaN

### FTIR

In [8]:
ftir_data.head()

,_id,objectId,sampleId,analysisId,type,ftir
0,sample:0000010619,book:10000,sample:0000010619,analysis:0000000011,ftir,"[[7996.20107, 1.20203], [7994.13966, 1.20910],..."
1,sample:0000010621,book:10001,sample:0000010621,analysis:0000000013,ftir,"[[7996.20107, 1.11394], [7994.13966, 1.13033],..."
2,sample:0000010623,book:10002,sample:0000010623,analysis:0000000015,ftir,"[[7996.20107, 1.13047], [7994.13966, 1.15014],..."
3,sample:0000010625,book:10003,sample:0000010625,analysis:0000000017,ftir,"[[7996.20107, 1.17351], [7994.13966, 1.16132],..."
4,sample:0000010627,book:10004,sample:0000010627,analysis:0000000019,ftir,"[[7996.20107, 1.22136], [7994.13966, 1.24046],..."

### TENSILE

In [9]:
tensile_frame = pd.concat(tensile_data['tensile'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
tensile=pd.concat([tensile_data, tensile_frame], axis=1)
tensile.head()

,_id,objectId,sampleId,analysisId,type,tensile,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000690,tensile,"{'maxLoad': '34.670', 'stressMaxLoad': '28.779...",34.670,28.779,0.051118,0.072340,2274.6
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000691,tensile,"{'maxLoad': '12.710', 'stressMaxLoad': '9.7289...",12.710,9.7289,0.030050,0.023396,1416.2
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000692,tensile,"{'maxLoad': '17.301', 'stressMaxLoad': '13.585...",17.301,13.585,0.034793,0.034683,2083.7
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000693,tensile,"{'maxLoad': '25.879', 'stressMaxLoad': '21.320...",25.879,21.320,0.044734,0.057662,2015.6
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000694,tensile,"{'maxLoad': '14.901', 'stressMaxLoad': '16.132...",14.901,16.132,0.047622,0.036076,1798.6

### PH

In [10]:
ph_data.head()

,_id,objectId,sampleId,analysisId,type,ph
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000543,ph,5.065
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000544,ph,4.830
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000545,ph,5.207
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000546,ph,5.165
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000547,ph,6.405

In [11]:
ph_data.astype({'ph': 'float'}).describe()

               ph
count  797.000000
mean     4.922048
std      0.778938
min      3.630000
25%      4.550000
50%      4.705000
75%      4.970000
max      9.370000

### SEC

In [12]:
sec_frame = pd.concat(sec_data['sec'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
sec=pd.concat([sec_data, sec_frame], axis=1)
sec.head()

,_id,objectId,sampleId,analysisId,type,sec,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000619,sec,"{'sec_Mn': '44.1', 'sec_Mw': '127.6', 'sec_pol...",44.1,127.6,2.89,22.45,71.9
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000620,sec,"{'sec_Mn': '35.9', 'sec_Mw': '85.4', 'sec_poly...",35.9,85.4,2.377,10.53,23.4
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000621,sec,"{'sec_Mn': '20.1', 'sec_Mw': '93.4', 'sec_poly...",20.1,93.4,4.653,20.54,65.8
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000622,sec,"{'sec_Mn': '29.5', 'sec_Mw': '91.2', 'sec_poly...",29.5,91.2,3.094,6.84,21.9
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000623,sec,"{'sec_Mn': '76.8', 'sec_Mw': '161.6', 'sec_pol...",76.8,161.6,2.105,7.92,25.4

## Book

In [13]:
%%time
# Extract data USE LIMITS UNTIL IT WORKS DO NOT INCLUDE DOCS
#rows = db.view('umsi/clone_pca_analyses', limit=10)
rows = db.view('pca/query-books') # _id column is same as analysis id
data = [row['value'] for row in rows]
books = pd.DataFrame(data)

Wall time: 165 ms

In [14]:
books#['doubleFold'].unique()
books.doubleFold = books.doubleFold.apply(lambda y: np.nan if y=='' else y)
books=books.astype({'doubleFold': 'float'})

In [15]:
books.doubleFold.describe()

count    951.000000
mean       7.105152
std        3.467668
min        1.000000
25%        3.000000
50%       10.000000
75%       10.000000
max       10.000000
Name: doubleFold, dtype: float64