In [1]:
%%time
#!pip install couchdb
#!pip install pandas
#!pip install matplotlib
#!pip install seaborn

Wall time: 0 ns

In [2]:
%%time
import couchdb
import csv
import re
import json
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Wall time: 14 s

In [3]:
%%time
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]

Wall time: 9.97 ms

In [4]:
%%time
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']

Wall time: 385 ms

In [8]:
%%time
# https://stackoverflow.com/questions/46996356/how-to-query-the-documents-from-couchdb-and-load-them-into-pandas-dataframe
rows = db.view('_all_docs', include_docs=True) # ,limit=10
data = [row['doc'] for row in rows]
df = pd.DataFrame(data)

Wall time: 10min 23s

In [35]:
# %%time
# df.columns
# len(df.columns)

In [12]:
df.head()

,_id,_rev,access,validate_doc_update,views,language,objectId,isInSitu,sampleId,barcode,...,acquiredOn,acquiredOnIsApprox,agingTemperature,agingNatural,username,inSitu,pageSampled,sampledOn,sampledByPersonId,sampedByPersonId
0,_design/anc,10-3acd4d4645f00d9a055130aa31fb8839,{'read_only': True},"function(newDoc, oldDoc, userCtx) { if (userCt...",{'catalog-titles-and-dates-only': {'map': 'fun...,javascript,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_design/pca,15-d5a9f312d7b438160643237a193a880d,NaN,NaN,{'query-books': {'map': 'function (doc) { if...,javascript,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,_design/temp,10-2d996381162ed59cb1a4f524819d4371,NaN,NaN,{'ph_tensile': {'map': 'function (doc) { if ...,javascript,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,analysis:0000000000,49-cedb344b53eb03cb3fc98e6cf7c17fd3,NaN,NaN,NaN,NaN,book:00112,True,sample:0000010608,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,analysis:0000000001,34-abd09afe1220c9836830f2c23f8d4949,NaN,NaN,NaN,NaN,book:00112,True,sample:0000010609,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# Starting to separate data out by id first
analysis = df[df['_id'].str.contains("analysis")].reset_index()
book = df[df['_id'].str.contains("book")].reset_index()
sample = df[df['_id'].str.contains("sample")].reset_index()
institution = df[df['_id'].str.contains("institution")].reset_index()
person = df[df['_id'].str.contains("person")].reset_index()
paper = df[df['_id'].str.contains("paper")].reset_index()
catalog = df[df['_id'].str.contains("catalog")].reset_index()

In [74]:
import warnings
warnings.filterwarnings("ignore")
# General procedure:
# drop nan columns
# replace remove string part in _id

In [80]:
paper1 = paper.dropna(axis=1, how='all').drop('index', axis=1)
paper1['_id'] = paper1['_id'].str.replace('paper:','') #WARNING line
paper1.head()

,_id,_rev,barcode,type,lastModifiedOn,lastModifiedByPersonId,createdOn,createdByPersonId,doubleFold,source,sourceBatch,composition,sizing,buffer,acquiredOn,acquiredOnIsApprox,agingTemperature,agingNatural
0,10000,3-25d2531a12637e2b65bbd06f0db37f6b,PAP00892c,rag,2020-03-12T04:00:00.000Z,Forsberg_A,2020-03-12T04:00:00.000Z,Forsberg_A,"{'value': '10', 'assessedOn': '2020-03-12T04:0...",unknown,,cotton rag,,,1994-01-01T05:00:00.000Z,True,room,True
1,10001,2-0ce29228683309fc622d4d030d9a1f24,PAP00891c,rag,2020-03-12T04:00:00.000Z,Forsberg_A,2020-03-12T04:00:00.000Z,Forsberg_A,"{'value': '10', 'assessedOn': '2020-03-12T04:0...",Stonehenge,,cotton rag,starch,buffered,2007-01-01T05:00:00.000Z,True,room,True
2,10002,2-75238b16dea87de1c1000331be6cd499,PAP00880c,newsprint,2020-03-12T04:00:00.000Z,Forsberg_A,2020-03-12T04:00:00.000Z,Forsberg_A,"{'value': '10', 'assessedOn': '2020-03-12T04:0...",unknown,,wood pulp,,,1979-01-01T05:00:00.000Z,True,room,True
3,10003,3-b9057e8b4ff11cfcb693a65948c9c9bf,ISR5C0103b,wood pulp,2020-03-12T04:00:00.000Z,Forsberg_A,2020-03-12T04:00:00.000Z,Forsberg_A,"{'value': '10', 'assessedOn': '2020-03-12T04:0...",ASTM,,100% bleached northern softwood kraft,Alum/Rosin,,1994-01-01T05:00:00.000Z,True,5Â°C,True
4,10004,3-8156bb3f09091b77f3ac3db41023b769,ISR5C0302b,wood pulp,2020-03-12T04:00:00.000Z,Forsberg_A,2020-03-12T04:00:00.000Z,Forsberg_A,"{'value': '10', 'assessedOn': '2020-03-12T04:0...",ASTM,,100% softwood bleached chemi-thermomechanical ...,Alum,,1994-01-01T05:00:00.000Z,True,5Â°C,True

In [82]:
analysis1 = analysis.dropna(axis=1, how='all').drop('index', axis=1)
analysis1['_id'] = analysis1['_id'].str.replace('analysis:','')
analysis1.head()
# data column is a list(dict(['type'-->dv1, 'src'-->dict(header, createdon, filename), 'spectrum'-->dict(values,labels)]))

,_id,_rev,objectId,isInSitu,sampleId,barcode,type,procedure,analysedOn,analysedByPersonId,lastModifiedOn,lastModifiedByPersonId,notes,data,deltaE,location,stats
0,0000000000,49-cedb344b53eb03cb3fc98e6cf7c17fd3,book:00112,True,sample:0000010608,,fors,SOP,2019-10-04T15:52:19.000Z,Forsberg_A,2019-12-02T05:00:00.000Z,Forsberg_A,,"[{'type': 'raw', 'src': {'header': 'Wavelength...","[{'id': 'analysis:0000000001', 'cie1976': {'ci...",NaN,NaN
1,0000000001,34-abd09afe1220c9836830f2c23f8d4949,book:00112,True,sample:0000010609,,fors,SOP,2019-10-04T15:52:19.000Z,Forsberg_A,2019-12-02T05:00:00.000Z,Forsberg_A,,"[{'type': 'raw', 'src': {'header': 'Wavelength...","[{'id': 'analysis:0000000000', 'cie1976': {'ci...",NaN,NaN
2,0000000002,18-8fa499a28006ae621cb6aa912948a83b,book:00112,True,sample:0000010610,,fors,SOP,2019-10-04T15:52:19.000Z,Forsberg_A,2019-12-02T05:00:00.000Z,Forsberg_A,,"[{'type': 'raw', 'src': {'header': 'Wavelength...","[{'id': 'analysis:0000000000', 'cie1976': {'ci...",NaN,NaN
3,0000000003,5-eee992d6ef6ead615c4c578e7976416f,book:00112,True,sample:0000010611,,ftir,SOP,2019-10-04T14:21:56.000Z,Forsberg_A,2019-12-02T05:00:00.000Z,Forsberg_A,,"[{'type': 'raw', 'src': {'header': '', 'create...",NaN,NaN,NaN
4,0000000004,5-7f39755f31c340d22da6e9c4771c3e84,book:00112,True,sample:0000010612,,ftir,SOP,2019-10-04T14:22:00.000Z,Forsberg_A,2019-12-02T05:00:00.000Z,Forsberg_A,,"[{'type': 'raw', 'src': {'header': '', 'create...",NaN,NaN,NaN

In [105]:
analysis_data = analysis1[['_id','data']]
analysis_data['data_len']= 1
analysis_data['data']

0       [{'type': 'raw', 'src': {'header': 'Wavelength...
1       [{'type': 'raw', 'src': {'header': 'Wavelength...
2       [{'type': 'raw', 'src': {'header': 'Wavelength...
3       [{'type': 'raw', 'src': {'header': '', 'create...
4       [{'type': 'raw', 'src': {'header': '', 'create...
                              ...
7849    [{'type': 'raw', 'src': {'header': 'Wavelength...
7850    [{'type': 'raw', 'src': {'header': 'Wavelength...
7851    [{'type': 'raw', 'src': {'header': 'Wavelength...
7852    [{'type': 'raw', 'src': {'header': '', 'create...
7853    [{'type': 'raw', 'src': {'header': '', 'create...
Name: data, Length: 7854, dtype: object