In [1]:
import time

In [2]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\jingcong\miniconda3\lib\site-packages (0.18.0)

In [3]:
%%time
# Setup
# installs and imports
#!pip install couchdb
#!pip install pandas
import couchdb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
# from fuzzywuzzy import fuzz
# from fuzzywuzzy import process
# import statsmodels
# import statsmodels.api as sm
# from statsmodels.formula.api import ols
# from statsmodels.stats.multicomp import pairwise_tukeyhsd
warnings.filterwarnings("ignore") # for replace remove string part in _id

# flatten json
import json 
import pandas as pd 
from pandas.io.json import json_normalize

# Read Access Credentials
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]

# Connect to Server
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']

Wall time: 3.2 s

## Analyses

In [4]:
%%time
# Extract data USE LIMITS UNTIL IT WORKS DO NOT INCLUDE DOCS
#rows = db.view('umsi/clone_pca_analyses', limit=10)
rows = db.view('pca/query-analyses') # _id column is same as analysis id
data = [row['value'] for row in rows]
analyses = pd.DataFrame(data)

Wall time: 1min 42s

In [5]:
print('sampleId:', len(analyses.sampleId.unique()))
print('analyses:', len(analyses))
print('objectId:', len(analyses.objectId.unique()))

sampleId: 4760
analyses: 6673
objectId: 951

In [6]:
# Replace [] and {} with NaN
analyses.deltaE = analyses.deltaE.apply(lambda y: np.nan if y==[] else y)
analyses.col = analyses.col.apply(lambda y: np.nan if y=={} else y)
analyses.fors = analyses.fors.apply(lambda y: np.nan if y==[] else y)
analyses.ftir = analyses.ftir.apply(lambda y: np.nan if y==[] else y)
analyses.tensile = analyses.tensile.apply(lambda y: np.nan if y=={} else y)
analyses.head()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors,ftir,tensile,ph,sec
0,sample:0000010826,book:10000,sample:0000010826,analysis:0000000218,fors,1.081,"{'loc': 'edge', 'col_x': '0.3461', 'col_y': '0...","[[350, 0.36153397], [351, 0.35920829], [352, 0...",NaN,NaN,NaN,NaN
1,sample:0000010827,book:10000,sample:0000010827,analysis:0000000219,fors,0.8747,"{'loc': 'inset', 'col_x': '0.3431', 'col_y': '...",NaN,NaN,NaN,NaN,NaN
2,sample:0000010828,book:10000,sample:0000010828,analysis:0000000220,fors,1.081,"{'loc': 'gutter', 'col_x': '0.3424', 'col_y': ...",NaN,NaN,NaN,NaN,NaN
3,sample:0000010619,book:10000,sample:0000010619,analysis:0000000011,ftir,NaN,NaN,NaN,"[[7996.20107, 1.20203], [7994.13966, 1.20910],...",NaN,NaN,NaN
4,sample:0000010218,book:10000,sample:0000010218,analysis:0000000543,ph,NaN,NaN,NaN,NaN,NaN,5.065,NaN

In [7]:
# Separate out data
fors_data = analyses[analyses['type']=='fors'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ftir_data = analyses[analyses['type']=='ftir'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
tensile_data = analyses[analyses['type']=='tensile'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ph_data = analyses[analyses['type']=='ph'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
sec_data = analyses[analyses['type']=='sec'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)

### FORS

In [8]:
fors_data.head()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors
0,sample:0000010826,book:10000,sample:0000010826,analysis:0000000218,fors,1.081,"{'loc': 'edge', 'col_x': '0.3461', 'col_y': '0...","[[350, 0.36153397], [351, 0.35920829], [352, 0..."
1,sample:0000010827,book:10000,sample:0000010827,analysis:0000000219,fors,0.8747,"{'loc': 'inset', 'col_x': '0.3431', 'col_y': '...",NaN
2,sample:0000010828,book:10000,sample:0000010828,analysis:0000000220,fors,1.081,"{'loc': 'gutter', 'col_x': '0.3424', 'col_y': ...",NaN
3,sample:0000010829,book:10001,sample:0000010829,analysis:0000000221,fors,2.651,"{'loc': 'edge', 'col_x': '0.3589', 'col_y': '0...","[[350, 0.27629215], [351, 0.27274981], [352, 0..."
4,sample:0000010830,book:10001,sample:0000010830,analysis:0000000222,fors,2.651,"{'loc': 'inset', 'col_x': '0.3496', 'col_y': '...",NaN

### FTIR

In [9]:
ftir_data.head()

,_id,objectId,sampleId,analysisId,type,ftir
0,sample:0000010619,book:10000,sample:0000010619,analysis:0000000011,ftir,"[[7996.20107, 1.20203], [7994.13966, 1.20910],..."
1,sample:0000010621,book:10001,sample:0000010621,analysis:0000000013,ftir,"[[7996.20107, 1.11394], [7994.13966, 1.13033],..."
2,sample:0000010623,book:10002,sample:0000010623,analysis:0000000015,ftir,"[[7996.20107, 1.13047], [7994.13966, 1.15014],..."
3,sample:0000010625,book:10003,sample:0000010625,analysis:0000000017,ftir,"[[7996.20107, 1.17351], [7994.13966, 1.16132],..."
4,sample:0000010627,book:10004,sample:0000010627,analysis:0000000019,ftir,"[[7996.20107, 1.22136], [7994.13966, 1.24046],..."

### TENSILE

In [10]:
tensile_frame = pd.concat(tensile_data['tensile'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
tensile=pd.concat([tensile_data, tensile_frame], axis=1)
tensile.head()

,_id,objectId,sampleId,analysisId,type,tensile,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000690,tensile,"{'maxLoad': '34.670', 'stressMaxLoad': '28.779...",34.670,28.779,0.051118,0.072340,2274.6
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000691,tensile,"{'maxLoad': '12.710', 'stressMaxLoad': '9.7289...",12.710,9.7289,0.030050,0.023396,1416.2
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000692,tensile,"{'maxLoad': '17.301', 'stressMaxLoad': '13.585...",17.301,13.585,0.034793,0.034683,2083.7
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000693,tensile,"{'maxLoad': '25.879', 'stressMaxLoad': '21.320...",25.879,21.320,0.044734,0.057662,2015.6
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000694,tensile,"{'maxLoad': '14.901', 'stressMaxLoad': '16.132...",14.901,16.132,0.047622,0.036076,1798.6

### PH

In [11]:
ph_data.head()

,_id,objectId,sampleId,analysisId,type,ph
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000543,ph,5.065
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000544,ph,4.830
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000545,ph,5.207
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000546,ph,5.165
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000547,ph,6.405

In [12]:
ph_data.astype({'ph': 'float'}).describe()

               ph
count  956.000000
mean     4.963069
std      0.780218
min      3.630000
25%      4.575000
50%      4.740000
75%      5.030000
max      9.370000

### SEC

In [13]:
sec_frame = pd.concat(sec_data['sec'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
sec=pd.concat([sec_data, sec_frame], axis=1)
sec.head()

,_id,objectId,sampleId,analysisId,type,sec,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
0,sample:0000010218,book:10000,sample:0000010218,analysis:0000000619,sec,"{'sec_Mn': '44.1', 'sec_Mw': '127.6', 'sec_pol...",44.1,127.6,2.89,22.45,71.9
1,sample:0000010219,book:10001,sample:0000010219,analysis:0000000620,sec,"{'sec_Mn': '35.9', 'sec_Mw': '85.4', 'sec_poly...",35.9,85.4,2.377,10.53,23.4
2,sample:0000010220,book:10002,sample:0000010220,analysis:0000000621,sec,"{'sec_Mn': '20.1', 'sec_Mw': '93.4', 'sec_poly...",20.1,93.4,4.653,20.54,65.8
3,sample:0000010221,book:10003,sample:0000010221,analysis:0000000622,sec,"{'sec_Mn': '29.5', 'sec_Mw': '91.2', 'sec_poly...",29.5,91.2,3.094,6.84,21.9
4,sample:0000010222,book:10004,sample:0000010222,analysis:0000000623,sec,"{'sec_Mn': '76.8', 'sec_Mw': '161.6', 'sec_pol...",76.8,161.6,2.105,7.92,25.4

## Book

In [14]:
%%time
# Extract data USE LIMITS UNTIL IT WORKS DO NOT INCLUDE DOCS
#rows = db.view('umsi/clone_pca_analyses', limit=10)
rows = db.view('pca/query-books') # _id column is same as analysis id
data = [row['value'] for row in rows]
books = pd.DataFrame(data)

Wall time: 394 ms

In [15]:
books.doubleFold = books.doubleFold.apply(lambda y: np.nan if y=='' else y)
books=books.astype({'doubleFold': 'float'})

In [16]:
books.publisher = books.publisher.apply(lambda y: np.nan if y=='' else y)
books=books.astype({'publisher': 'str'})
books.publisher

0                        sumptibus Societatis Camdenensis
1       Printed for the Camden Society, by J.B. Nichol...
2       Printed for the Camden Society, by J.B. Nichol...
3       Printed for the Camden Society, by J.B. Nichol...
4                                           J. Winchester
                              ...
1136                            Houghton, Mifflin and Co.
1137                                   G.P. Putnam's Sons
1138                                The Macmillan Company
1139                                     Houghton Mifflin
1140                                            Ginn & Co
Name: publisher, Length: 1141, dtype: object

In [17]:
books.head()

,id,title,catalogId,institutionId,volume,year,location,publisher,doubleFold,calendered
0,book:10000,"Chronica Jocelini de Brakelond, de rebus gesti...",catalog:10000,institution:00002,1,1840,Londini,sumptibus Societatis Camdenensis,10.0,False
1,book:10001,"The chronicle of William de Rishanger, of the ...",catalog:10001,institution:00002,1,1840,London,"Printed for the Camden Society, by J.B. Nichol...",10.0,False
2,book:10002,Three early English metrical romances : with a...,catalog:10002,institution:00002,1,1842,London,"Printed for the Camden Society, by J.B. Nichol...",10.0,False
3,book:10003,"The diary of Dr. Thomas Cartwright, bishop of ...",catalog:10003,institution:00002,1,1843,London,"Printed for the Camden Society, by J.B. Nichol...",10.0,False
4,book:10004,Mexico as it was and as it is,catalog:10004,institution:00002,1,1844,New York,J. Winchester,10.0,False

## Combine Data Frames

### 1. Clean

#### TENSILE

In [18]:
#drop columns that we don't need
tensile_cleaned = tensile.drop(columns =['_id', 'analysisId', 'type', 'tensile'])

#rename id columns
tensile_cleaned.rename(columns ={'objectId':'book_id', 'sampleId':'sample_id'}, inplace = True)

#change book id into string
tensile_cleaned['book_id'] = tensile_cleaned['book_id'].astype(str)

tensile_cleaned.head()

,book_id,sample_id,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod
0,book:10000,sample:0000010218,34.670,28.779,0.051118,0.072340,2274.6
1,book:10001,sample:0000010219,12.710,9.7289,0.030050,0.023396,1416.2
2,book:10002,sample:0000010220,17.301,13.585,0.034793,0.034683,2083.7
3,book:10003,sample:0000010221,25.879,21.320,0.044734,0.057662,2015.6
4,book:10004,sample:0000010222,14.901,16.132,0.047622,0.036076,1798.6

#### PH

In [19]:
ph_data_cleaned = ph_data.drop(columns =['_id', 'objectId', 'analysisId', 'type'])
ph_data_cleaned.rename(columns ={'sampleId':'sample_id'}, inplace = True)
ph_data_cleaned.head()

           sample_id     ph
0  sample:0000010218  5.065
1  sample:0000010219  4.830
2  sample:0000010220  5.207
3  sample:0000010221  5.165
4  sample:0000010222  6.405

#### SEC

In [20]:
sec_cleaned = sec.drop(columns =['_id', 'objectId','analysisId', 'sec', 'type'])
sec_cleaned.rename(columns ={'sampleId':'sample_id'}, inplace = True)
sec_cleaned.head()

           sample_id sec_Mn sec_Mw sec_polyDisp sec_calcMass sec_massRec
0  sample:0000010218   44.1  127.6         2.89        22.45        71.9
1  sample:0000010219   35.9   85.4        2.377        10.53        23.4
2  sample:0000010220   20.1   93.4        4.653        20.54        65.8
3  sample:0000010221   29.5   91.2        3.094         6.84        21.9
4  sample:0000010222   76.8  161.6        2.105         7.92        25.4

#### DOUBLEFOLD

In [21]:
#NOT IMPORTANT
# doublefold_cleaned = books[['id', 'doubleFold']]
# doublefold_cleaned.rename(columns={'id':'book_id'}, inplace=True)
# doublefold_cleaned['book_id'] = doublefold_cleaned['book_id'].astype(str)
# doublefold_cleaned.head()

#### PUBLISHER

In [22]:
publisher_cleaned = books[['id', 'publisher']]
publisher_cleaned.rename(columns={'id':'book_id'}, inplace=True)
publisher_cleaned['book_id'] = publisher_cleaned['book_id'].astype(str)
publisher_cleaned.head()

      book_id                                          publisher
0  book:10000                   sumptibus Societatis Camdenensis
1  book:10001  Printed for the Camden Society, by J.B. Nichol...
2  book:10002  Printed for the Camden Society, by J.B. Nichol...
3  book:10003  Printed for the Camden Society, by J.B. Nichol...
4  book:10004                                      J. Winchester

### 2. Combine Data

#### Combine all Analysis dataframes

In [23]:
#combine tensile, ph, and sec analyses data frames
analyses_combined = tensile_cleaned.merge(ph_data_cleaned,on='sample_id').merge(sec_cleaned,on='sample_id')

#drop id columns
numeric_data = analyses_combined.drop(columns=['book_id','sample_id'])

#turn all data into floats
numeric_data = numeric_data.astype(float)

numeric_data.head()

,maxLoad,stressMaxLoad,strainMaxLoad,energyAbsorp,youngsMod,ph,sec_Mn,sec_Mw,sec_polyDisp,sec_calcMass,sec_massRec
0,34.670,28.7790,0.051118,0.072340,2274.6,5.065,44.1,127.6,2.890,22.45,71.9
1,12.710,9.7289,0.030050,0.023396,1416.2,4.830,35.9,85.4,2.377,10.53,23.4
2,17.301,13.5850,0.034793,0.034683,2083.7,5.207,20.1,93.4,4.653,20.54,65.8
3,25.879,21.3200,0.044734,0.057662,2015.6,5.165,29.5,91.2,3.094,6.84,21.9
4,14.901,16.1320,0.047622,0.036076,1798.6,6.405,76.8,161.6,2.105,7.92,25.4

In [24]:
#export data as csv
pca_csv_data = numeric_data.to_csv('numeric_data_for_pca.csv', index = True)

#### Combine Analysis and Publisher Data for Publisher Analysis

In [25]:
# analyses_combined = analyses_combined.astype(float)
# analyses_combined['book_id'] = analyses_combined['book_id'].astype(str)

#combine analysis and publisher data
all_combined = analyses_combined.merge(publisher_cleaned, on='book_id', how='left')

#drop id columns
publisher_analysis_data = all_combined.drop(columns=['book_id','sample_id'])

#transform data (excluding publisher) to numeric values
cols = ['maxLoad','stressMaxLoad','strainMaxLoad','energyAbsorp','youngsMod','ph','sec_Mn','sec_Mw','sec_polyDisp','sec_calcMass','sec_massRec']
publisher_analysis_data[cols] = publisher_analysis_data[cols].apply(pd.to_numeric, errors='coerce', axis=1)


#fuzzy matching code based on code from https://pythoninoffice.com/use-fuzzy-string-matching-in-pandas/
df1 = pd.read_csv('publisher_list.csv') #This is the correct, cleaned list of publishers
df2 = publisher_analysis_data #This is our dataframe with chemical data & the uncleaned publishers (different spellings, etc.)

#df1df2['publisher_from_df1'] values look like (Publisher name from df1, fuzzy score)
df2['publisher_from_df1'] = df2['publisher'].apply(lambda x: process.extractOne(x, df1['Publisher'].to_list(),score_cutoff=80))

#remove score from list
publisher_from_df1_list = df2['publisher_from_df1'].to_list()
publisher_from_df1_list = [_[0] if _ != None else None for _ in publisher_from_df1_list]
df2['publisher_from_df1'] = publisher_from_df1_list

#drop and rename columns, change publisher type to string
df2.drop(['publisher'],axis=1, inplace=True)
df2.rename(columns={'publisher_from_df1':'publisher'}, inplace=True)
df2['publisher'] = df2['publisher'].astype(str)

df2.head()

NameError: name 'process' is not defined

In [ ]:
publisher_analysis_data = df2.to_csv('publisher_analysis_data.csv')

### 3. Analyze

In [ ]:
numeric_data.describe()

In [ ]:
numeric_data.dropna(inplace=True)

In [ ]:
numeric_data.corr()

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))
sns.heatmap(numeric_data.corr(), annot=True)
# fix for mpl bug that cuts off top/bottom of seaborn viz
b, t = plt.ylim() # discover the values for bottom and top
b += 0.5 # Add 0.5 to the bottom
t -= 0.5 # Subtract 0.5 from the top
plt.ylim(b, t) # update the ylim(bottom, top) values
plt.show() # ta-da

In [ ]:
sns.pairplot(numeric_data)

#### Publisher Analysis

In [ ]:
publisher_analysis_data = pd.read_csv('publisher_analysis_data.csv')
publisher_analysis_data.drop(columns={'Unnamed: 0'}, inplace=True)

In [ ]:
publisher_analysis_data.head()

In [ ]:
#creates a table for the averages per publisher
publisher_averages = publisher_analysis_data.groupby('publisher').mean()
publisher_averages

In [ ]:
fig, ax = plt.subplots(figsize=(30,8))
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, horizontalalignment='right')
sns.boxplot(x="publisher",y="ph", data=publisher_analysis_data)

In [ ]:
ph_lm = ols('ph ~ publisher', data=publisher_analysis_data).fit()
table = sm.stats.anova_lm(ph_lm, typ=2) # Type 2 ANOVA DataFrame
table

In [ ]:
res2 = pairwise_tukeyhsd(publisher_analysis_data['ph'], publisher_analysis_data['publisher'])
res2.summary()