In [1]:
test=[{
  "prefName": "Albany, N.Y.",
  "city": "Albany",
  "state": "New York",
  "country": "U.S.A.",
  "altNames": ["Albany"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Austin, Tex.",
  "city": "Austin",
  "state": "Texas",
  "country": "U.S.A.",
  "altNames": ["Austin"],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes": "Note 'Austin' book is a Booklab, Inc., facsimile: Texas."
},
{
  "prefName": "Baltimore, Md.",
  "city": "Baltimore",
  "state": "Maryland",
  "country": "U.S.A.",
  "altNames": ["Baltimore", "Baltimore, Md."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Baton Rouge, La.",
  "city": "Baton Rouge",
  "state": "Louisiana",
  "country": "U.S.A.",
  "altNames": ["Baton Rouge"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Berkeley, Calif.",
  "city": "Berkeley",
  "state": "California",
  "country": "U.S.A.",
  "altNames": ["Berkeley"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Berlin, Germany",
  "city": "Berlin",
  "state": "",
  "country": "Germany",
  "altNames": ["Berlin"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Boston, Mass.",
  "city": "Boston",
  "state": "Massachusetts",
  "country": "U.S.A.",
  "altNames": [
    "Boston",
    "Boston, Mass.",
    "Boston and New York",
    "Boston : publisher not identified",
  ],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes":"'Boston and New York' and '... publisher not identified' are from the OCLC catalog. Assume Boston for the first, and the second is obviously Boston"
},
{
  "prefName": "Cambridge, England",
  "city": "Cambridge",
  "state": "",
  "country": "England",
  "altNames": ["Cambridge England"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Cambridge, Mass.",
  "city": "Cambridge",
  "state": "Massachusetts",
  "country": "U.S.A.",
  "altNames": ["Cambridge", "Cambridge, USA", "Cambridge, Mass."],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes":"Note 'Cambridge' books are both Harvard UP, so: Mass."
},
{
  "prefName": "Chicago, Ill.",
  "city": "Chicago",
  "state": "Illinois",
  "country": "U.S.A.",
  "altNames": ["Chicago", "Chicago, Ill.", "Chicago, Ill"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": 'Vatican city',
  "city": 'Vatican city',
  "state": "",
  "country": 'Vatican "city"',
  "altNames": ["Citt√† del Vaticano"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Cleveland, Ohio",
  "city": "Cleveland",
  "state": "Ohio",
  "country": "U.S.A.",
  "altNames": ["Cleveland"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Concord, Mass.",
  "city": "Concord",
  "state": "Massachusetts",
  "country": "U.S.A.",
  "altNames": ["Concord, Mass."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Dayton, Ohio",
  "city": "Dayton",
  "state": "Ohio",
  "country": "U.S.A.",
  "altNames": ["Dayton, O."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Garden city, N.Y.",
  "city": "Garden city",
  "state": "New York",
  "country": "U.S.A.",
  "altNames": ["Garden city, N.Y.", "Garden city, New York"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Guatemala",
  "city": "Guatemala",
  "state": "",
  "country": "Republic of Guatemala",
  "altNames": ["Guatemala"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Hartford, Conn.",
  "city": "Hartford",
  "state": "Connecticut",
  "country": "U.S.A.",
  "altNames": ["Hartford", "Hartford, Conn."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Heidelberg, Germany",
  "city": "Heidelberg",
  "state": "",
  "country": "Germany",
  "altNames": ["Heidelberg"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Honolulu, Hawaii",
  "city": "Honolulu",
  "state": "Hawaii",
  "country": "U.S.A.",
  "altNames": ["Honolulu"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Huntington, N.Y.",
  "city": "Huntington",
  "state": "New York",
  "country": "U.S.A.",
  "altNames": ["Huntington, N.Y."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Indianapolis, Ind.",
  "city": "Indianapolis",
  "state": "Indiana",
  "country": "U.S.A.",
  "altNames": ["Indianapolis"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Ithaca, N.Y.",
  "city": "Ithaca",
  "state": "New York",
  "country": "U.S.A.",
  "altNames": ["Ithaca, New York"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Lee, Mass.",
  "city": "Lee",
  "state": "Massachusetts",
  "country": "U.S.A.",
  "altNames": ["Lee", "Lee, Mass."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Lincoln, Nebr.",
  "city": "Lincoln",
  "state": "Nebraska",
  "country": "U.S.A.",
  "altNames": ["Lincoln, Nebr."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Lisbon, Portugal",
  "city": "Lisbon",
  "state": "",
  "country": "Portugal",
  "altNames": ["Lisboa"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "London, England",
  "city": "London",
  "state": "",
  "country": "England",
  "altNames": ["London", "Londini", "London and New York"],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes":"'London and New York' is not _much_ more than a guess but seems to hold for the only book it currently applies to, 'Histories of Polybius', confirm any conventions with a librarian/cataloging expert"
},
{
  "prefName": "Madrid, Spain",
  "city": "Madrid",
  "state": "",
  "country": "Spain",
  "altNames": ["Madrid"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Milan, Italy",
  "city": "Milan",
  "state": "",
  "country": "Italy",
  "altNames": ["Milan"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Minneapolis, Minn.",
  "city": "Minneapolis",
  "state": "Minnesota",
  "country": "U.S.A.",
  "altNames": ["Minneapolis, Minn."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Montevideo, Uruguay",
  "city": "Montevideo",
  "state": "",
  "country": "Uruguay",
  "altNames": ["Montevideo"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Moscow, Russia",
  "city": "Moscow",
  "state": "",
  "country": "Russia",
  "altNames": ["Moscow"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Mexico",
  "city": "Mexico",
  "state": "",
  "country": "Mexico",
  "altNames": ["M√©xico"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Nashville, Tenn.",
  "city": "Nashville",
  "state": "Tennessee",
  "country": "U.S.A.",
  "altNames": ["Nashville, Tenn."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "New Haven, Conn.",
  "city": "New Haven",
  "state": "Connecticut",
  "country": "U.S.A.",
  "altNames": ["New Haven"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "New Orleans, La.",
  "city": "New Orleans",
  "state": "Louisiana",
  "country": "U.S.A.",
  "altNames": ["New Orleans"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "New York, N.Y.",
  "city": "New York",
  "state": "New York",
  "country": "U.S.A.",
  "altNames": [
    "New York",
    "New York city",
    "New York and London",
    "New York city",
    "New York etc",
    "New York, N.Y",
    "New York, N.Y.",
    "New York, the Century Co.",
  ],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes":"'New York and London' is for 'Classical studies in honour of Henry Drissler'.'New York etc' is for 'The life-work of the author of Uncle Tom's cabin'.'New York, the Century Co.' is an obvious cataloging error"
},
{
  "prefName": "Norman, Okla.",
  "city": "Norman",
  "state": "Oklahoma",
  "country": "U.S.A.",
  "altNames": ["Norman"],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes":"Only the one book, and it's published by University of Oklahoma Press, so..."
},
{
  "prefName": "Norwich, Conn.",
  "city": "Norwich",
  "state": "Connecticut",
  "country": "U.S.A.",
  "altNames": ["Norwich", "Norwich, Conn."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Oxford, England",
  "city": "Oxford",
  "state": "",
  "country": "England",
  "altNames": ["Oxford", "Oxonii"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Paris, France",
  "city": "Paris",
  "state": "",
  "country": "France",
  "altNames": ["Paris"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Pasadena, Calif.",
  "city": "Pasadena",
  "state": "California",
  "country": "U.S.A.",
  "altNames": ["Pasadena, Calif."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Philadelphia, Pa.",
  "city": "Philadelphia",
  "state": "Pennsylvania",
  "country": "U.S.A.",
  "altNames": ["Philadelphia"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Philadelphia, N.Y.",
  "city": "Philadelphia",
  "state": "New York",
  "country": "U.S.A.",
  "altNames": ["Philadelphia, New York"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Princeton, N.J.",
  "city": "Princeton",
  "state": "New Jersey",
  "country": "U.S.A.",
  "altNames": ["Princeton"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Providence, R.I.",
  "city": "Providence",
  "state": "Rhode Island ",
  "country": "U.S.A.",
  "altNames": ["Providence, R.I."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Salem, Mass.",
  "city": "Salem",
  "state": "Massachusetts",
  "country": "U.S.A.",
  "altNames": ["Salem, Mass."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "San Francisco, Calif.",
  "city": "San Francisco",
  "state": "California",
  "country": "U.S.A.",
  "altNames": ["San Francisco"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Santander, Spain",
  "city": "Santander",
  "state": "",
  "country": "Spain",
  "altNames": ["Santander"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Santiago, Chile",
  "city": "Santiago",
  "state": "",
  "country": "Chile",
  "altNames": ["Santiago de Chile"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "St. Louis, Mo.",
  "city": "St. Louis",
  "state": "Missouri",
  "country": "U.S.A.",
  "altNames": ["St. Louis"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Stanford University, Calif.",
  "city": "Palo Alto",
  "state": "California",
  "country": "U.S.A.",
  "altNames": ["Stanford University, Calif."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Tulsa, Okla.",
  "city": "Tulsa",
  "state": "Oklahoma",
  "country": "U.S.A.",
  "altNames": ["Tulsa, Okla."],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Vienna, Austria",
  "city": "Vienna",
  "state": "",
  "country": "Austria",
  "altNames": ["Wien"],
  "tgn": "",
  "long": "",
  "lat": "",
},
{
  "prefName": "Washington, D.C.",
  "city": "Washington",
  "state": "District of Columbia",
  "country": "U.S.A.",
  "altNames": ["Washington", "Washington D.C"],
  "tgn": "",
  "long": "",
  "lat": "",
    "notes":"book:00341 = dubious - could be NY and the publisher is 'Washington', see one of the records on WorldCat:https://www.worldcat.org/title/mexicos-capacity-to-pay-a-general-analysis-of-the-present-international-economic-position-of-mexico/oclc/253455343?referer=di&ht=edition"
},
{
  "prefName": "Williamsport, Pa.",
  "city": "Williamsport",
  "state": "Pennsylvania",
  "country": "U.S.A.",
  "altNames": ["Williamsport"],
  "tgn": "",
  "long": "",
  "lat": "",
},
]

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(test)
df.state = df.state.apply(lambda y: np.nan if y=='' else y)
df.tgn = df.tgn.apply(lambda y: np.nan if y=='' else y)
df.long = df.long.apply(lambda y: np.nan if y=='' else y)
df.lat = df.lat.apply(lambda y: np.nan if y=='' else y)
df = df.dropna(axis=1, how='all')
df.head()

,prefName,city,state,country,altNames,notes
0,"Albany, N.Y.",Albany,New York,U.S.A.,[Albany],NaN
1,"Austin, Tex.",Austin,Texas,U.S.A.,[Austin],"Note 'Austin' book is a Booklab, Inc., facsimi..."
2,"Baltimore, Md.",Baltimore,Maryland,U.S.A.,"[Baltimore, Baltimore, Md.]",NaN
3,"Baton Rouge, La.",Baton Rouge,Louisiana,U.S.A.,[Baton Rouge],NaN
4,"Berkeley, Calif.",Berkeley,California,U.S.A.,[Berkeley],NaN

In [3]:
df.to_csv('location_match.csv', sep='@', index=False)

In [4]:
result=pd.read_csv('location_match.csv', sep='@')
result.head()

,prefName,city,state,country,altNames,notes
0,"Albany, N.Y.",Albany,New York,U.S.A.,['Albany'],NaN
1,"Austin, Tex.",Austin,Texas,U.S.A.,['Austin'],"Note 'Austin' book is a Booklab, Inc., facsimi..."
2,"Baltimore, Md.",Baltimore,Maryland,U.S.A.,"['Baltimore', 'Baltimore, Md.']",NaN
3,"Baton Rouge, La.",Baton Rouge,Louisiana,U.S.A.,['Baton Rouge'],NaN
4,"Berkeley, Calif.",Berkeley,California,U.S.A.,['Berkeley'],NaN