In [7]:
import couchdb
import csv
import re
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
with open("passwords.csv") as myfile:
    head = [next(myfile) for x in range(1)]
info = str(head[0]).split(',')
name = info[0]
pw = info[1]
secure_remote_server = couchdb.Server('https://'+name+':'+pw+'@couchdb3.prtd.app/')
db = secure_remote_server['anc5']
rows = db.view('pca/query-analyses') # _id column is same as analysis id
data = [row['value'] for row in rows]
analyses = pd.DataFrame(data)

In [4]:
analyses.tail()

,_id,objectId,sampleId,analysisId,type,deltaE,col,fors,ftir,tensile,ph,sec
6668,sample:0000016333,book:10954,sample:0000016333,analysis:0000010271,ph,[],{},[],[],{},5.165,NaN
6669,sample:0000016332,book:10954,sample:0000016332,analysis:0000010154,sec,[],{},[],[],{},NaN,"{'sec_Mn': '27', 'sec_Mw': '83.1', 'sec_polyDi..."
6670,sample:0000016333,book:10954,sample:0000016333,analysis:0000010155,sec,[],{},[],[],{},NaN,"{'sec_Mn': '25.4', 'sec_Mw': '100.3', 'sec_pol..."
6671,sample:0000016332,book:10954,sample:0000016332,analysis:0000010094,tensile,[],{},[],[],"{'maxLoad': '56.130', 'stressMaxLoad': '37.163...",NaN,NaN
6672,sample:0000016333,book:10954,sample:0000016333,analysis:0000010095,tensile,[],{},[],[],"{'maxLoad': '33.068', 'stressMaxLoad': '25.100...",NaN,NaN

tens_energyAbsorp_avg

tens_maxLoad_avg

tens_strainMaxLoad_avg

tens_stressMaxLoad_avg

tens_thickness_avg

tens_youngsMod_avg

In [5]:
# flatten json
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [8]:
# Replace [] and {} with NaN
analyses.deltaE = analyses.deltaE.apply(lambda y: np.nan if y==[] else y)
analyses.col = analyses.col.apply(lambda y: np.nan if y=={} else y)
analyses.fors = analyses.fors.apply(lambda y: np.nan if y==[] else y)
analyses.ftir = analyses.ftir.apply(lambda y: np.nan if y==[] else y)
analyses.tensile = analyses.tensile.apply(lambda y: np.nan if y=={} else y)

fors_data = analyses[analyses['type']=='fors'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ftir_data = analyses[analyses['type']=='ftir'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
tensile_data = analyses[analyses['type']=='tensile'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
ph_data = analyses[analyses['type']=='ph'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)
sec_data = analyses[analyses['type']=='sec'].dropna(axis=1, how='all').reset_index().drop(['index'], axis=1)

tensile_frame = pd.concat(tensile_data['tensile'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
tensile=pd.concat([tensile_data, tensile_frame], axis=1)

sec_frame = pd.concat(sec_data['sec'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
sec=pd.concat([sec_data, sec_frame], axis=1)

<ipython-input-8-b78574cc3d36>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  tensile_frame = pd.concat(tensile_data['tensile'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)
<ipython-input-8-b78574cc3d36>:17: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  sec_frame = pd.concat(sec_data['sec'].apply(lambda x:json_normalize(x)).values.tolist()).reset_index().drop(['index'], axis=1)

In [15]:
tensile_frame

    maxLoad stressMaxLoad strainMaxLoad energyAbsorp youngsMod
0    34.670        28.779      0.051118     0.072340    2274.6
1    12.710        9.7289      0.030050     0.023396    1416.2
2    17.301        13.585      0.034793     0.034683    2083.7
3    25.879        21.320      0.044734     0.057662    2015.6
4    14.901        16.132      0.047622     0.036076    1798.6
..      ...           ...           ...          ...       ...
951  26.905        16.862      0.035132     0.047392    2134.6
952  59.536        49.781      0.065892      0.17185    2601.0
953  27.976        29.374      0.055006     0.064584    3083.0
954  56.130        37.163      0.060996      0.13609    2242.8
955  33.068        25.100      0.045726     0.067116    2233.2

[956 rows x 5 columns]

In [16]:
final = pd.concat([analyses['ph'], sec[['sec_Mn','sec_Mw', 'sec_polyDisp']], tensile[['energyAbsorp','strainMaxLoad','stressMaxLoad','youngsMod']]], axis=1)
final.head()

,ph,sec_Mn,sec_Mw,sec_polyDisp,energyAbsorp,strainMaxLoad,stressMaxLoad,youngsMod
0,NaN,44.1,127.6,2.89,0.072340,0.051118,28.779,2274.6
1,NaN,35.9,85.4,2.377,0.023396,0.030050,9.7289,1416.2
2,NaN,20.1,93.4,4.653,0.034683,0.034793,13.585,2083.7
3,NaN,29.5,91.2,3.094,0.057662,0.044734,21.320,2015.6
4,5.065,76.8,161.6,2.105,0.036076,0.047622,16.132,1798.6

In [17]:
final.rename(columns={"ph": "pH", "sec_polyDisp": "sec_polydispersity" })
final.head()

,ph,sec_Mn,sec_Mw,sec_polyDisp,energyAbsorp,strainMaxLoad,stressMaxLoad,youngsMod
0,NaN,44.1,127.6,2.89,0.072340,0.051118,28.779,2274.6
1,NaN,35.9,85.4,2.377,0.023396,0.030050,9.7289,1416.2
2,NaN,20.1,93.4,4.653,0.034683,0.034793,13.585,2083.7
3,NaN,29.5,91.2,3.094,0.057662,0.044734,21.320,2015.6
4,5.065,76.8,161.6,2.105,0.036076,0.047622,16.132,1798.6